
.container{
  max-width: $width;
  margin: 0 auto;  
}

.stretchy-bg{
  background-position: center center;
  background-repeat: none;
  @include background-size(cover);
}

.big-image{
  height: $base-line-height * 50;
  @include respond-to( $breakpoint ){ 
    height: $base-line-height * 70; 
  }
}