

@mixin scrollbar($size, $primary, $secondary: lighten($primary, 25%)) {
    ::-webkit-scrollbar {
        width:  $size;
        height: $size;
    }

    ::-webkit-scrollbar-thumb {
        background: $primary;
    }

    ::-webkit-scrollbar-track {
        background: $secondary;
    }
  
  // For Internet Explorer
  body {
    scrollbar-face-color: $primary;
    scrollbar-track-color: $secondary;
  }
}

@mixin respond-to($breakpoint) {
  @media only screen and (min-width: $breakpoint) { @content; }
}