
$base-font-size:                  20px;
$base-line-height:                6px;       
$leading:                         6;
$width:                           600px;
$breakpoint:                      500px;
